
<header class="absolute bg-[var(--color-background)]/70 mt-9 left-1/2 -translate-x-1/2 container shadow py-3 px-5 rounded-2xl z-20">
  <nav class="mx-auto flex justify-between items-center">
    <a href="/" class=""><img src="logo.png" width="70%" alt="Bimarks Logo"></a> 
    <div class="space-x-12 ">
      <a href="#">Главная</a>
      <a href="#">О Компании</a>
      <a href="#">Услуги</a>
      <a href="#">Контакты</a>
    </div>
    <a href="/" class=""><img src="lang.svg" width="70%" alt="Bimarks Logo"></a> 
  </nav>
</header>